title: Kili Taylor
description: Technical Writing Portfolio

url: "https://gentle-rain-docs.github.io"
baseurl: "/technical-writing-portfolio"

markdown: kramdown

plugins:
  - jekyll-seo-tag
  - jekyll-feed

defaults:
  - scope:
      path: ""
    values:
      layout: default
