title: Technical Writing Portfolio
description: A collection of my technical writing samples.

remote_theme: patdryburgh/hitchens

markdown: kramdown

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-seo-tag
