---
---

/* Custom color variables */
$brand-indigo: #4B0082;
$brand-light-purple: #B19CD9;
$brand-grey: #6B7280;

/* Override body */
body {
  color: $brand-grey;
}

/* Override main heading (site title) */
h1 a {
  color: $brand-indigo;
  
  &:hover {
    color: $brand-light-purple;
  }
}

/* Override all headings */
h1, h2, h3, h4, h5, h6 {
  color: $brand-indigo;
}

/* Override links */
a {
  color: $brand-indigo;
  
  &:hover {
    color: $brand-light-purple;
  }
}

/* Override navigation links specifically */
nav a {
  color: $brand-indigo;
  
  &:hover {
    color: $brand-light-purple;
  }
}

/* Override footer */
footer {
  color: $brand-grey;
  
  a {
    color: $brand-light-purple;
    
    &:hover {
      color: $brand-indigo;
    }
  }
}

/* Post list dates */
.post-meta,
time {
  color: $brand-grey;
}